@page "/"

<PageTitle>Tasker</PageTitle>

<div class="m-0">
<h1>Blazor Introduction</h1>
</div>
<div class="lead fs-4 mb-5">
<p>Applications built to demonstrate the basics of Blazor</p>
</div>

<dl>
    <dt>
        Blazor Project Structure
    </dt>
    <dd>
        Modify the blazor project struture
    </dd>
    <dt>
        Razor Syntax
    </dt>
    <dd>
        Add conditional logic to the html markup
    </dd>
    <dt>
        Routing
    </dt>
    <dd>
        Add pages and give them a route
    </dd>
</dl>